;; drivers guides (2020.5.18)
{:US
 {:AL "https://www.alea.gov/sites/default/files/inline-files/driverlicensemanual.pdf"
  :AK "https://doa.alaska.gov/dmv/dlmanual/dlman.pdf"
  :AZ "https://apps.azdot.gov/files/mvd/mvd-forms-lib/99-0117.pdf"
  :AR "https://static.ark.org/eeuploads/asp/ARKANSAS_DRIVER_LICENSE_manual_revision_(Corrected).pdf"
  :CA "https://www.dmv.ca.gov/web/eng_pdf/dl600.pdf"
  :CO "https://www.colorado.gov/pacific/sites/default/files/DR2337.pdf"
  :CT "https://portal.ct.gov/-/media/DMV/20/29/r12eng122019.pdf?la=en"
  :DE "https://www.dmv.de.gov/forms/driver_serv_forms/pdfs/dr_frm_manual.pdf?071119"
  :FL "https://www3.flhsmv.gov/handbooks/englishdriverhandbook.pdf"
  :GA "https://dds.georgia.gov/document/publication/ga-drivers-manual/download"  ;; download
  :HI "https://hidot.hawaii.gov/highways/files/2019/03/mvso-11272-Hawaii-Drivers-Manual-r3-LR-10-24-18.pdf"
  :ID "https://itd.idaho.gov/wp-content/uploads/2016/06/driver_manual.pdf"
  :IL "https://cyberdriveillinois.com/publications/pdf_publications/dsd_a112.pdf"
  :IN "https://www.in.gov/bmv/files/drivers-manual.pdf"
  :IA "https://www.iowadot.gov/mvd/driverslicense/dlmanual/dlmanual.pdf"
  :KS "https://www.ksrevenue.org/pdf/dlhb.pdf"
  :KY "https://kentuckystatepolice.org/wp-content/uploads/2017/12/Kentucky-Driver-Manual-12-1-2017.pdf"
  :LA "http://web01.dps.louisiana.gov/DPSForms.nsf/8bad5589175b8981862575f20048ee65/5402fbe0178e092686257c1a005ff1cb/$FILE/Guide%202017.pdf"
  :ME "https://www.maine.gov/sos/bmv/licenses/motoristhandbook.pdf"
  :MD "https://mva.maryland.gov/Documents/DL-002.pdf"
  :MA "https://www.mass.gov/files/documents/2018/03/21/Drivers_Manual.pdf"
  :MI "https://www.michigan.gov/documents/wedmk_16312_7.pdf"
  :MN "https://dps.mn.gov/divisions/dvs/forms-documents/Documents/Minnesota_Drivers_Manual.pdf"
  :MS ""  ;; PURCHASE ONLY?
  :MO "https://dor.mo.gov/forms/Driver%20Guide.pdf"
  :MT "https://media.dojmt.gov/wp-content/uploads/MT-Driver-Manual-Jan-2015_Web.pdf"
  :NE "https://dmv.nebraska.gov/sites/dmv.nebraska.gov/files/doc/manuals/engdrivermanual.pdf"
  :NV "https://dmvnv.com/pdfforms/dlbook.pdf"
  :NH "https://www.nh.gov/safety/divisions/dmv/forms/documents/nhdm.pdf"
  :NJ "https://www.state.nj.us/mvc/pdf/license/drivermanual.pdf"
  :NM "http://realfile.tax.newmexico.gov/English%20Drivers%20Manualver11.19.19.pdf"  ;; download
  :NY "https://dmv.ny.gov/brochure/mv21.pdf"
  :NC "https://www.ncdot.gov/dmv/license-id/driver-licenses/new-drivers/Documents/driver-handbook.pdf"
  :ND "https://www.dot.nd.gov/divisions/driverslicense/docs/noncommercial-dl-manual-class-d.pdf"
  :OH "https://publicsafety.ohio.gov/links/hsy7607.pdf"
  :OK "https://www.ok.gov/dps/documents/2017%20Oklahoma%20Drivers%20Manual%20web.pdf"
  :OR "https://www.oregon.gov/odot/forms/dmv/37.pdf"
  :PA "https://www.dot.state.pa.us/Public/DVSPubsForms/BDL/BDL%20Manuals/Manuals/PA%20Drivers%20Manual%20By%20Chapter/English/PUB%2095.pdf"
  :RI "http://www.dmv.ri.gov/documents/manuals/Driver_Manual_FINAL.pdf"
  :SC "https://www.iowadot.gov/mvd/driverslicense/dlmanual/dlmanual.pdf"  ;; download
  :SD "https://dps.sd.gov/application/files/7315/4871/9000/SouthDakotaDriverManual2018.pdf"
  :TN "https://www.tn.gov/content/dam/tn/safety/documents/DL_Manual.pdf"
  :TX "https://www.dps.texas.gov/internetforms/forms/dl-7.pdf"
  :UT "https://dld.utah.gov/wp-content/uploads/sites/17/2020/03/Final-Driver-Handbook-2020-V.1.pdf"
  :VT "https://dmv.vermont.gov/sites/dmv/files/documents/VN-007-License_Manual_0.pdf"
  :VA "https://www.dmv.virginia.gov/webdoc/pdf/dmv39.pdf"
  :WA "https://www.dol.wa.gov/driverslicense/docs/driverguide-en.pdf"
  :WV "https://transportation.wv.gov/DMV/DMVFormSearch/Drivers_Licensing_Handbook_web.pdf"
  :WI "https://wisconsindot.gov/Documents/dmv/shared/bds126-motorists-handbook.pdf"
  :WY "http://www.dot.state.wy.us/files/live/sites/wydot/files/shared/Driver_Services/Help%20Documents%20and%20Manuals/2016%20Driver%20Manual%20for%20Web.pdf"

  :DC "https://dmv.dc.gov/sites/default/files/dc/sites/dmv/publication/attachments/DC%20Driver%20Manual_July%202019.pdf"
  }
 }
